.u-section-1 {
  background-image: url("images/9feac8bfcfece3ea004334e48c582b5aec651c6b0f4439e2072e3de9e77401cf57444941dd3808ea592edecd9941632eb8d27d9d46522c7f7579c3_12801.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  margin: 40px 308px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 208px;
    margin-right: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 98px;
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 290px;
}

.u-section-2 .u-form-1 {
  height: 229px;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-left: initial;
  }

  .u-section-2 .u-form-group-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-form-group-2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-group-1 {
    width: 100%;
  }

  .u-section-2 .u-form-group-2 {
    width: 100%;
  }
}