html {
  font-size: 12px;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bold;
}

.cromo {
  width: 328px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.decoracion {
  background: linear-gradient(to bottom right, #4C4F54, #C6C6C6);
  border-radius: 4px;
  border: 1px black;
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.36);
  padding: 5px;
}

.nombreCromo {
  border: solid black 2px;
  border-radius: 4px;
  background-color: rgba(77, 51, 25, 0.3);
  color: white;
  display: inline-block;
  padding: 11px;
  box-sizing: border-box;
  width: 318px;
  word-wrap: break-word;
  margin: 0 auto;
}

.top img {
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
  border: solid black 2px;
  margin: 10px;
}

.bottom {
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
  padding: 2px;
  margin: 7px;
  color: white;
  background-color: #4C4F54;
  display: block;
}

.dato {
  font-style: italic;
  display: inline-block;
  padding: 11px;
  box-sizing: border-box;
  width: 300px;
  word-wrap: break-word;
  margin: 0 auto;
}

.descripcion {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  width: 290px;
  word-wrap: break-word;
  margin: 0 auto;
}

h3.nombreCromo {
  color: white;
  font-size: 20px;
  margin: 11px 0 0 78px;
  padding-top: 2px;
  text-align: center;
  display: block;
  height: 26px;
  font-family: "papyrus";
}

.nombreCromo h3 {
  font-size: 25px;
  font-family: "Papyrus";
  text-align: center;
  margin: 0 auto;
  display: block;
}

.columnas_cromos {
  min-width: 350px;
}

.columnas_coleccion {
    width: 300px;
    height: 320px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.columnas_coleccion_tienda {
    width: 300px;
    height: 340px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.columnas_cromos_boton {
  width: 350px;
  height: 660px;
  margin-bottom: 20px;
}

