.u-section-1 {
  background-image: linear-gradient(to right, #d5acac, #80d5e0);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  width: 368px;
  margin: 97px auto 0;
}

.u-section-1 .u-form-1 {
  height: 221px;
  width: 570px;
  margin: 19px auto 60px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}