.u-section-1 {
  background-image: url("../resources/media/cartas.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  margin: 40px 308px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 208px;
    margin-right: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 98px;
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1234px;
}

.u-section-2 .u-text-1 {
  margin: 39px 960px 0 30px;
}

.u-section-2 .u-form-1 {
  height: 234px;
  width: 855px;
  margin: 30px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-form-group-4 {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin: 30px 938px 0 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 39px auto 0 30px;
  padding: 8px 36px 9px 35px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-form-2 {
  height: 564px;
  width: 855px;
  margin: 39px auto 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-weight: 700;
}

.u-section-2 .u-label-7 {
  font-weight: 700;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-weight: 700;
}

.u-section-2 .u-input-8 {
  font-weight: 700;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-label-9 {
  font-weight: 700;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-label-10 {
  font-weight: 700;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-label-11 {
  font-weight: 700;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px 160px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 790px;
    margin-left: 0;
  }

  .u-section-2 .u-form-group-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-form-group-2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-form-group-3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 768px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 570px;
  }

  .u-section-2 .u-form-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 548px;
  }

  .u-section-2 .u-form-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 390px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 368px;
  }

  .u-section-2 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-1 {
    width: 100%;
  }

  .u-section-2 .u-form-group-2 {
    width: 100%;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 168px;
  }

  .u-section-2 .u-form-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 850px;
}

.u-section-3 .u-list-1 {
  width: 1145px;
  min-height: 428px;
  margin: 0 -1px 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: calc(50% - 5px);
  min-height: 418px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-3 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-4 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-7 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-8 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-5 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-9 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-10 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 19px 29px 54px;
}

.u-section-3 .u-custom-html-6 {
  min-height: 439px;
  height: auto;
  margin: 0 0 0 13px;
}

.u-section-3 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 13px 111px 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-11 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -32px 0 0 auto;
  padding: 2px 6px 4px 5px;
}

.u-section-3 .u-icon-12 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 353px;
    margin-top: 496px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 343px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-3 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-4 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-5 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-6 {
    width: 217px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 601px;
    margin-top: 180px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
    min-height: 591px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1774px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 8.333333333333334px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 168px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  border-style: none;
  margin: 48px auto 60px;
  padding: 15px 144px 16px;
}ul {
    list-style-type: none;
  }
  
  span {
    font-weight: bold;
  }
  
  .cromo {
    padding: 5px;
    width: 328px;
  }
  
  .decoracion {
    /*background: linear-gradient(to bottom right, red, yellow);*/
    background: linear-gradient(to bottom right, #4C4F54, #C6C6C6);
    border-radius: 4px;
    border: 1px black;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
    padding: 5px;
  }
  
  .nombreCromo {
    border: solid black 2px;
    border-radius: 4px;
    background-color: rgba(77, 51, 25, 0.3);
    /*   box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36); */
    color: white;
    display: inline-block;
    padding: 11px;
    box-sizing: border-box;
    /*min-width: 310px;
    max-width: 310px; */
    width: 308px;
    word-wrap: break-word;
    margin: 0 auto;
    display:inline-block
    /*margin-left: 83px;*/
  }
  
  .top img {
    height: 300px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
    border: solid black 2px;
    margin: 5px;
   
  }
  
  .bottom {
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
    padding: 2px;
    margin: 7px;
    color: white;
    /*background-color: rgba(77, 51, 25, 0.69);*/
    background-color: #4C4F54;
  }
  
  .dato {
    font-style: italic;
  }
  
  h3.nombreCromo {
    color: white;
    font-size: 20px;
    margin: 11px 0 0 78px;
    padding-top: 2px;
    text-align: center;
    
    display: block;
    height: 26px;
    font-family: "papyrus";
  }
  
  .nombreCromo h3 {
    font-size: 25px;
    font-family: "Papyrus";
    text-align: center; 
    margin: 0 auto;
    display: block;
  }